# Dependencies
node_modules/

# Build output
dist/
.output/
out/
*.tgz

# Astro
.astro/

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Caches
.eslintcache
.cache
*.tsbuildinfo
coverage/
*.lcov

# Editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
